* {
    box-sizing: border-box;
    max-width: 1440px;
}

body {
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    
}

article {
    background-color: hsl(244, 38%, 16%);
    margin: 175px;
    display: flex;
    height: 400px;
    overflow: hidden;
}

.left {
    padding: 25px;
}

.right {
    background-color: hsl(277, 64%, 61%);
}

img {
    opacity: 0.5;
}

ul {
   padding: 50px;
    color: hsla(0, 0%, 100%, 0.6);
}

li {
    display: inline-block;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

span {
    color: hsl(277, 64%, 61%);
}

